{% if messages %}

              <div class="toast-container position-fixed bottom-0 end-0 p-3">
                  {% for message in messages %}
                      <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                          <div class="toast-header">
                          <i class="bi bi-building-fill-gear me-1" width="20" height="20"></i>
                          <strong class="me-auto">Altenticação de acesso.</strong>
                          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                          </div>
                          <div class="toast-body">
                              {{message}}
                          </div>
                      </div>
                  {% endfor %}
              </div>

{% endif %}