{% load static %}
{% comment %} <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'visualizar_produtos' %}">visualizar_produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'detalhar_produto' 'afrodite' %}">detalhar_produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'listar_produtos' %}">listar_produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'criar_produto' %}">criar_produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'editar_produto' 1 %}">editar_produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout_action' %}">logout_action</a>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}
<div class="container-fluid bg-secondary-subtle">
    <div class="d-flex justify-content-end">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link bi bi-instagram text-dark" target="_blank"
                    href="{{lista_empresa.link_instagram}}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bi bi-whatsapp text-dark" target="_blank" href="https://wa.me/55{{lista_empresa.whatsapp}}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bi bi-envelope text-dark" target="_blank" href="mailto:{{lista_empresa.email}}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bi bi-facebook text-dark" target="_blank" href="{{lista_empresa.link_facebook}}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link bi bi-google text-dark" target="_blank" href="{{lista_empresa.link_saf_google}}"></a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{{lista_empresa.logotipo.url}}" width="100"
                alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Contatos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>